#app {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 600px;
    /* height: 400px; */
    min-height: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(36, 49, 71);
    border-radius: 80px;
}